@import "../../../assets/_vars.scss";

.aba-plans-list {
    color: $color-dark-blue;
    padding: 0;
    @media only screen and (min-width: $screen-min-size-tablet) {
        margin-top: 20px;
    }
    @media only screen and (min-width: $screen-min-size-desktop) {
        margin-top: 40px;
    }

    .aba-plans-list-container {
        @media only screen and (min-width: $screen-min-size-desktop) {
            display: table;
            margin: 0 auto;
        }

        .plan-list-element {
            margin-bottom: 15px;
            padding: 0;
            @media only screen and (min-width: $screen-min-size-desktop) {
                float: left;
            }

            &:last-child {
                margin-bottom: 0;
            }

            .plan-container {
                color: $color-dark-blue;

                padding: 0 20px;
                position: relative;
                @media only screen and (min-width: $screen-min-size-tablet) {
                    padding: 0 40px;
                }
                @media only screen and (min-width: $screen-min-size-desktop) {
                    float: left;
                    padding: 0 10px;
                }

                .plan-container-inner {
                    background-color: $color-white;
                    border: $color-grey 1px solid;
                    height: 100px;
                    padding: 8px;
                    width: 100%;
                    @media only screen and (min-width: $screen-min-size-tablet) {
                        height: 150px;
                        padding: 15px;
                    }
                    @media only screen and (min-width: $screen-min-size-desktop) {
                        height: 320px;
                        width: 220px;
                        padding: 25px 20px;
                    }

                    &:after {
                        clear: both;
                        content: '';
                        display: block;
                    }
                }

                .plan-title {
                    color: $color-dark-blue;
                    font-family: $font-family-slab;
                    font-size: 14px;
                    font-weight: $font-weight-medium;
                    line-height: 14px;
                    margin-bottom: 3px;
                    text-align: center;
                    text-transform: uppercase;
                    @media only screen and (min-width: $screen-min-size-tablet) {
                        font-size: 18px;
                        line-height: 18px;
                    }
                    @media only screen and (min-width: $screen-min-size-desktop) {
                        font-size: 20px;
                        line-height: 24px;
                        margin-top: 20px;
                    }
                }

                .plan-price {
                    float: left;
                    margin-left: 22px;
                    position: relative;
                    text-align: left;
                    z-index: 0;
                    @media only screen and (min-width: $screen-min-size-tablet) {
                        margin-left: 80px;
                    }
                    @media only screen and (min-width: $screen-min-size-desktop) {
                        float: none;
                        height: 125px;
                        text-align: center;
                        margin: 0;
                        padding-top: 10px;
                    }

                    .plan-price-current {
                        color: $color-dark-blue;
                        margin-top: 15px;
                        @media only screen and (min-width: $screen-min-size-desktop) {
                            margin-top: 30px;
                        }

                        .plan-price-current-element {
                            display: inline-block;
                        }

                        .plan-price-current-big {
                            display: inline-block;
                            font-size: 30px;
                            font-weight: $font-weight-bold;
                            line-height: 36px;
                            margin: 0 1px 0 3px;
                            @media only screen and (min-width: $screen-min-size-tablet) {
                                font-size: 50px;
                                line-height: 56px;
                            }
                        }
                        .plan-price-current-small {
                            display: inline-block;
                            font-size: 10px;
                            font-weight: $font-weight-medium;
                            line-height: 14px;
                            text-align: left;
                            @media only screen and (min-width: $screen-min-size-tablet) {
                                font-size: 16px;
                                line-height: 22px;
                            }

                            &.two-lines {
                                display: block;
                            }

                            &:last-child {
                                color: $color-dark-grey;
                            }
                        }
                    }
                    .plan-price-old {
                        color: $color-dark-grey;
                        font-size: 10px;
                        font-weight: $font-weight-bold;
                        margin: 5px 0 -18px 0;
                        text-decoration: line-through;
                        @media only screen and (min-width: $screen-min-size-tablet) {
                            font-size: 14px;
                        }
                        @media only screen and (min-width: $screen-min-size-desktop) {
                            margin: 0 0 -25px 0;
                        }
                    }
                    .plan-price-total {
                        color: $color-blue;
                        font-size: 10px;
                        font-weight: $font-weight-bold;
                        text-transform: uppercase;
                        @media only screen and (min-width: $screen-min-size-tablet) {
                            font-size: 12px;
                        }
                        @media only screen and (min-width: $screen-min-size-desktop) {
                            margin-top: 5px;
                        }

                        span {
                            display: none;
                        }
                    }
                }

                .plan-select {
                    float: right;
                    margin-top: 10px;
                    text-align: center;
                    @media only screen and (min-width: $screen-min-size-tablet) {
                        margin: 22px 80px 0 0;
                    }
                    @media only screen and (min-width: $screen-min-size-desktop) {
                        float: none;
                        margin: 28px 0 0 0;
                    }
                    .plan-select-button {
                        border: $color-blue 1px solid;
                        border-radius: 20px;
                        color: $color-blue;
                        cursor: pointer;
                        display: inline-block;
                        height: 35px;
                        margin-bottom: 7px;
                        text-align: center;
                        width: 35px;
                        @media only screen and (min-width: $screen-min-size-tablet) {
                            border-radius: 10px;
                            height: 44px;
                            min-width: 160px;
                            text-transform: uppercase;
                        }
                        @media only screen and (min-width: $screen-min-size-desktop) {
                            min-width: 180px;
                        }

                        &:hover {
                            border-color: darken($color-blue, 10%);
                            color: darken($color-blue, 10%);
                        }

                        span {
                            font-size: 16px;
                            line-height: 32px;
                            @media only screen and (min-width: $screen-min-size-tablet) {
                                font-size: 14px;
                                line-height: 44px;
                            }
                            @media only screen and (min-width: $screen-min-size-desktop) {
                                font-size: 15px;
                            }
                        }
                    }
                    .plan-select-warranty {
                        font-size: 10px;
                        font-weight: $font-weight-medium;
                        @media only screen and (min-width: $screen-min-size-tablet) {
                            font-size: 12px;
                        }
                    }
                }

                /* ******************************************************************************************** */
                /* *** TRENDING PLAN ************************************************************************** */
                /* ******************************************************************************************** */

                &.trending {
                    @media only screen and (min-width: $screen-min-size-desktop) {
                        margin-top: -20px;
                    }

                    .plan-trending-label {
                        background-color: $color-dark-blue;
                        color: $color-white;
                        font-size: 9px;
                        font-weight: $font-weight-medium;
                        line-height: 14px;
                        padding-top: 1px;
                        text-align: center;
                        text-transform: uppercase;
                        @media only screen and (min-width: $screen-min-size-tablet) {
                            font-size: 13px;
                            height: 20px;
                            line-height: 20px;
                        }

                        @media only screen and (min-width: $screen-min-size-desktop) {
                            line-height: 24px;

                            &:after {
                                border-left: 110px solid transparent;
                                border-right: 110px solid transparent;
                                border-top: 15px solid $color-dark-blue;
                                content: '';
                                height: 0;
                                left: 10px;
                                position: absolute;
                                top: 21px;
                                width: 220px;
                            }
                        }
                    }

                    .plan-container-inner {
                        border: 1px $color-dark-blue solid;
                    }

                    .plan-select {
                        .plan-select-button {
                            background-color: $color-blue;
                            border: $color-white 1px solid;
                            color: $color-white;

                            &:hover {
                                background-color: darken($color-blue, 10%);
                            }
                        }
                    }
                }

                /* ******************************************************************************************** */
                /* *** PROMO LABEL **************************************************************************** */
                /* ******************************************************************************************** */

                .plan-promo-container {
                    background-color: $color-red;
                    color: $color-white;
                    font-size: 10px;
                    height: 18px;
                    line-height: 18px;
                    margin-left: -18px;
                    position: absolute;
                    text-align: center;
                    width: 33px;
                    z-index: 50;
                    @media only screen and (min-width: $screen-min-size-tablet) {
                        font-size: 20px;
                        height: 30px;
                        line-height: 30px;
                        margin-left: -25px;
                        width: 60px;
                    }
                    @media only screen and (min-width: $screen-min-size-desktop) {
                        margin-left: -30px;
                        margin-top: -15px;
                    }

                    &:before {
                        border-color: transparent;
                        border-right-color: $color-dark-red;
                        border-style: solid;
                        border-width: 0 10px 4px 0;
                        content: '';
                        height: 0;
                        left: 0;
                        position: absolute;
                        top: 18px;
                        width: 0;
                        @media only screen and (min-width: $screen-min-size-tablet) {
                            border-width: 0 10px 8px 0;
                            top: 30px;
                        }
                    }
                }
            }
        }
    }
}
