@font-face {
    font-family: 'Linearicons';
    src:    url('../fonts/Linearicons.eot?ac5fuj');
    src:    url('../fonts/Linearicons.eot?ac5fuj#iefix') format('embedded-opentype'),
        url('../fonts/Linearicons.ttf?ac5fuj') format('truetype'),
        url('../fonts/Linearicons.woff?ac5fuj') format('woff'),
        url('../fonts/Linearicons.svg?ac5fuj#Linearicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Linearicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-pen:before {
  content: "\e60f";
}
.icon-cloud-cross:before {
  content: "\e65a";
}
.icon-envelope:before {
  content: "\e696";
}
.icon-license2:before {
  content: "\e6dc";
}
.icon-telephone:before {
  content: "\e76a";
}
.icon-calendar-full:before {
  content: "\e789";
}
.icon-smartphone:before {
  content: "\e7a6";
}
.icon-diamond2:before {
  content: "\e807";
}
.icon-briefcase:before {
  content: "\e83a";
}
.icon-check2:before {
  content: "\e934";
}
.icon-chevron-left:before {
  content: "\e93b";
}
.icon-chevron-right:before {
  content: "\e93c";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-soundcloud:before {
  content: "\eac3";
}
.icon-linkedin2:before {
  content: "\eaca";
}
