@import "../../../assets/_vars.scss";

.aba-checkout-summary {
    .summary-section-row {
        margin-top: 8px;
    }

    .section-title {
        text-align: left;
        padding-left: 0;
    }

    .summary-label {
        display: block;
        color: $color-dark-grey;
        font-size: 12px;
        font-weight: $font-weight-bold;
    }

    .summary-info {
        color: $color-dark-blue;
        font-size: 15px;
        font-weight: $font-weight-medium;
    }

    .summary-info-big {
        font-size: 18px;
        font-weight: $font-weight-bold;
    }

    .summary-info-addition {
        color: $color-dark-grey;
        font-size: 14px;
        margin-left: 5px;
    }

    .summary-price {
        margin-top: 12px;
        @media only screen and (min-width: $screen-min-size-tablet) {
            margin-top: 22px;
        }

        .summary-price-label {
            display: block;
            color: $color-blue;
            font-weight: $font-weight-bold;
            font-size: 16px;
        }

        .summary-price-old {
            color: $color-dark-grey;
            display: block;
            font-size: 15px;
            font-weight: $font-weight-medium;
            text-decoration: line-through;
            clear: both;
        }

        .summary-info-big {
            font-size: 24px;
            font-weight: $font-weight-bold;
        }

        .summary-info-addition {
            font-size: 15px;
        }
    }
}

