@import "../../assets/_vars.scss";

.aba-loading {
    display: table;
    width: 100%;
    @media only screen and (min-width: $screen-min-size-desktop) {
        min-height: 320px;
    }

    .loading-container {
        display: table-cell;
        text-align: center;
        vertical-align: middle;

        .loading-spinner {
            background: none;
            height: 200px;
            margin: auto;
            position: relative;
            width: 200px;

            div {
                width: 100px;
                height: 100px;
                border-radius: 50px;
                position: absolute;
                top: 50px;

                &:nth-of-type(1) {
                    left: 0;
                    background: #42505a;
                    z-index: 5;
                    animation: uil-flickr-anim1 1s linear infinite;
                }

                &:nth-of-type(2) {
                    left: 100px;
                    background: #07bbe4;
                    animation: uil-flickr-anim2 1s linear infinite;
                }
            }
        }

        @keyframes uil-flickr-anim1 {
            0% {
                left: 0;
            }
            50% {
                left: 100px;
            }
            100% {
                left: 0;
            }
        }
        @keyframes uil-flickr-anim2 {
            0% {
                left: 100px;
                z-index: 1;
            }
            49% {
                z-index: 1;
            }
            50% {
                left: 0;
                z-index: 10;
            }
            100% {
                left: 100px;
                z-index: 10;
            }
        }
    }
}
