@import "../../../assets/_vars.scss";

.terms-info-container {
    position: relative;

    .legal-info-container {
        font-size: 11px;
        text-align: center;
        margin: 0 auto;
        max-width: 250px;
        padding: 10px 0 33px 0;
    }

    .popover {
        border-color: $color-grey;
        border-radius: 0;
        box-shadow: none;
        color: $color-dark-blue;
        font-family: $font-family-base;
        left: 20px !important;
        max-width: none;
        width: calc(100% - 40px);

        .arrow {
            border-bottom-color: $color-grey;
        }

        .popover-content {
            padding-right: 0;

            .popover-close {
                background-color: $color-blue;
                border: solid 1px $color-blue;
                border-radius: 50%;
                color: $color-white;
                cursor: pointer;
                font-size: 12px;
                height: 16px;
                line-height: 15px;
                margin-right: 6px;
                position: absolute;
                right: 18px;
                text-align: center;
                width: 16px;
            }

            .popover-content-body {
                font-size: 11px;
                max-height: 200px;
                overflow-y: scroll;
                padding-right: 45px;

                h5 {
                    font-size: 15px;
                }
            }
        }
    }
}
