@import "../../../assets/_vars.scss";

.aba-plans-awards {
    color: $color-dark-blue;
    font-size: 12px;
    font-weight: $font-weight-bold;
    padding: 5px 0 30px 0;
    text-align: center;
    @media only screen and (min-width: $screen-min-size-tablet) {
        font-size: 14px;
        padding: 15px 0 40px 0;
    }
    @media only screen and (min-width: $screen-min-size-desktop) {
        font-size: 16px;
        padding: 30px 0 40px 0;
    }

    .awards-logo {
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
    }
}
