@import "../../../assets/_vars.scss";

.subscription-info-container {
    margin-top: 25px;
    @media only screen and (min-width: $screen-min-size-tablet) {
        margin-top: 75px;
    }
    @media only screen and (min-width: $screen-min-size-desktop) {
        margin: 60px 0 40px 0;
    }

    .subscription-info-text {
        color: $color-dark-blue;
        font-size: 13px;
        line-height: 18px;

        & ~ .subscription-info-text {
            margin-top: 20px;
            @media only screen and (min-width: $screen-min-size-desktop) {
                margin-top: 10px;
            }
        }
    }
}
