@import "../../../assets/_vars.scss";

.support-info-container {

    .section-title {
        font-family: $font-family-base;
        font-size: 16px;
        padding-bottom: 3px;
        @media only screen and (min-width: $screen-min-size-tablet) {
            padding-top: 0;
        }
    }

    .support-opening-hours-info {
        font-size: 13px;
    }

    .contact-info {
        font-size: 14px;
        font-weight: $font-weight-bold;
        line-height: 36px;

        .contact-info-element {
            padding-bottom: 10px;

            .icon {
                color: $color-blue;
                float: left;
                font-size: 36px;
                padding-right: 18px;
            }
        }
    }
}
