@import "../../../assets/_vars.scss";

.social-network-container {
    @media only screen and (min-width: $screen-min-size-desktop) {
        margin-bottom: 40px;
    }

    .social-network-text {
        color: $color-dark-blue;
        font-family: $font-family-slab;
        font-size: 14px;
        font-weight: $font-weight-bold;
        line-height: 18px;
        margin: 33px 0 14px 0;
        text-align: center;
        text-transform: uppercase;
    }

    .social-network-icons {
        display: table;
        margin: auto;
        text-align: center;

        .social-link {
            display: table-cell;
            vertical-align: top;

            [class^="icon-"] {
                border: 1px solid transparent;
                border-radius: 25px;
                color: $color-white;
                font-size: 19px;
                height: 36px;
                line-height: 36px;
                text-align: center;
                width: 36px;
                @media only screen and (min-width: $screen-min-size-tablet) {
                    font-size: 24px;
                    height: 45px;
                    line-height: 45px;
                    width: 45px;
                }

                &.icon-linkedin2 {
                    background-color: $color-social-linkedin;
                    line-height: 32px;
                    @media only screen and (min-width: $screen-min-size-tablet) {
                        line-height: 38px;
                    }
                }

                &.icon-twitter {
                    background-color: $color-social-twitter;
                }

                &.icon-facebook {
                    background-color: $color-social-facebook;
                }

                &.icon-soundcloud {
                    background-color: $color-social-soundcloud;
                    font-size: 26px;
                    line-height: 30px;
                    @media only screen and (min-width: $screen-min-size-tablet) {
                        font-size: 30px;
                        line-height: 38px;
                    }
                }

                &.icon-rss {
                    background-color: $color-social-blog;
                    font-size: 16px;
                    line-height: 35px;
                    @media only screen and (min-width: $screen-min-size-tablet) {
                        font-size: 20px;
                        line-height: 40px;
                    }

                    &:before {
                        margin-left: 1px;
                    }
                }

                &.icon-youtube {
                    background-color: $color-social-youtube;
                    line-height: 35px;
                    @media only screen and (min-width: $screen-min-size-tablet) {
                        line-height: 42px;
                    }
                }
            }

            & ~ .social-link {
                padding-left: 15px;
            }

            &:hover {
                text-decoration: none;
            }
        }

        &:after {
            content: '';
            clear: both;
            display: block;
        }
    }


}
