@import "../../../assets/_vars.scss";

.money-back-container {
    @media only screen and (min-width: $screen-min-size-tablet) {
        width: 410px;
    }
    @media only screen and (min-width: $screen-min-size-desktop) {
        width: 460px;
    }
    .section-title {
        font-family: $font-family-base;
        font-size: 16px;
        padding: 0 0 13px 0;
        line-height: 1.25;
        font-weight: $font-weight-bold;
    }

    .money-back-info {
        margin-top: 0;
        margin-bottom: 13px;
        font-size: 13px;
        color: $color-dark-blue;
        font-weight: $font-weight-medium;
        line-height: 1.38;
    }
}
