@import "../../../assets/_vars.scss";

.secure-info-container {
    font-size: 13px;
    color: $color-dark-blue;
    font-weight: $font-weight-medium;
    line-height: 1.38;

    .secure-icons-list {
        display: table;
        margin: auto;
        width: 100%;
        @media only screen and (min-width: $screen-min-size-tablet) {
            float: left;
            max-width: 400px;
        }

        .secure-logo {
            display: table-cell;
            vertical-align: middle;

            .secure-logo-container {
                display: table;
                margin: auto;

                .sp-logo {
                    display: table-cell;
                    vertical-align: middle;
                }

                .secure-logo-text {
                    color: $color-dark-blue;
                    display: table-cell;
                    font-family: $font-family-slab;
                    font-size: 11px;
                    line-height: 12px;
                    max-width: 70px;
                    padding-left: 8px;
                    text-transform: uppercase;
                    vertical-align: middle;
                }
            }
        }
    }
}
