@import "../../../assets/_vars.scss";

.aba-plans-reviews {
    height: auto;
    width: auto;
    box-shadow: inset 0 0 0 1000px rgba(6, 186, 227, 0.7);
    padding-top: 15px;

    .section-title {
        color: $color-white;
    }

    .aba-plans-reviews-inner {
        display: table;
        width: 100%;

        /* arrows */

        .line-arrow {
            color: white;
            border-bottom: 2px solid;
            width: 20px;
            height: 20px;
            margin: auto;
        }

        .line-arrow:hover {
            cursor: pointer;
        }

        .line-arrow.left {
            border-left: 2px solid;
            transform: rotate(45deg);
        }

        .line-arrow.right {
            border-right: 2px solid;
            transform: rotate(-45deg);
        }

        /* end arrows */

        .pagination {
            display: table-cell;
            vertical-align: middle;
            width: 120px;
            margin: 0;
            padding: 0;

            &.outer {
                @media only screen and (max-width: $screen-max-size-mobile) {
                    display: none;
                }
            }
        }

        .carousel-and-pagination-container {
            display: table-cell;
            padding-top: 15px;

            .carousel {
                margin: auto;

                .carousel-indicators {
                    bottom: 0;
                    margin-bottom: 0;
                    padding-bottom: 20px;
                    position: absolute;
                    li {
                        background-color: rgba(255, 255, 255, 0.5);
                        border: none;
                        height: 10px;
                        margin: 9px;
                        width: 10px;
                        &.active {
                            background-color: $color-white;
                            border: none;
                        }
                    }
                }

                .review-container-inner {

                    .review-container-header {
                        display: table;
                        margin: auto;
                        .pagination.inner {
                            @media only screen and (min-width: $screen-min-size-tablet) {
                                display: none;
                            }
                        }
                    }

                    min-height: 290px;
                    padding-bottom: 65px;
                    @media only screen and (min-width: $screen-min-size-tablet) {
                        min-height: 0;
                        padding-bottom: 45px;
                    }

                    .review-image {
                        width: 120px;
                        height: 120px;

                        .sp-image {
                            border-radius: 100%;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .review-content {
                        font-size: 12px;
                        line-height: 15px;
                        text-align: center;
                        padding-top: 20px;

                        .review-content-text {
                            color: $color-dark-blue;
                            font-size: 12px;
                            font-weight: 300;
                            font-style: italic;
                            line-height: 14px;
                            margin-bottom: 15px;
                            padding: 0 20px;
                            text-align: center;

                            @media only screen and (min-width: $screen-min-size-tablet) {
                                padding: 0;
                            }
                            @media only screen and (min-width: $screen-min-size-desktop) {
                                font-size: 16px;
                                line-height: 22px;
                            }
                        }

                        .review-content-name {
                            color: $color-blue;
                            font-weight: $font-weight-bold;
                            font-size: 14px;
                            line-height: 26px;
                            text-align: center;
                            color: #42505a;
                            @media only screen and (min-width: $screen-min-size-tablet) {
                                padding-bottom: 20px;
                            }
                            @media only screen and (min-width: $screen-min-size-desktop) {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}
