@import "../../../assets/_vars.scss";

.confirmation-user-status {
    display: table;
    width: 100%;

    .user-status-container {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        padding: 20px;

        .success-icon {
            color: $color-blue;
            font-size: 60px;
            line-height: 75px;
            @media only screen and (min-width: $screen-min-size-tablet) {
                font-size: 72px;
                line-height: 85px;
            }
        }

        .paypal-success-text {
            color: $color-dark-blue;
            font-family: $font-family-slab;
            font-size: 14px;
            line-height: 24px;
            @media only screen and (min-width: $screen-min-size-tablet) {
                font-size: 18px;
                margin: auto;
                max-width: 450px;
            }
        }

        .user-status-text {
            color: $color-dark-blue;
            font-size: 20px;
            line-height: 20px;
            margin: 6px auto 10px auto;
        }

        .subscription-id-text {
            color: $color-dark-blue;
            font-size: 14px;
            margin-bottom: 10px;

            .subscription-id-value {
                &:before {
                    content: ': ';
                }
                &:after {
                    content: '*';
                }
            }

            &.has-subscription-id-false {
                visibility: hidden;
            }
        }

        .goToCampus-button {
            background-color: $color-blue;
            border: solid $color-blue 1px;
            border-radius: 10px;
            color: $color-white;
            cursor: pointer;
            font-size: 15px;
            font-weight: $font-weight-medium;
            line-height: 40px;
            margin-top: 15px;
            min-width: 120px;
            padding: 2px 50px 2px 50px;
            text-align: center;
            text-transform: uppercase;

            &.user-premium-false {
                visibility: hidden;
            }
        }

        .processing-payment-container {
            margin-top: 80px;
            min-height: 500px;
            text-align: center;

            .processing-payment-text {
                color: $color-dark-blue;
                font-size: 14px;
                font-style: italic;
            }

            .aba-loading {
                display: inline-block;
                min-height: 0;
                width: auto;

                .loading-container {
                    .loading-spinner {
                        height: 20px;
                        margin-top: -25px;
                        width: 32px;
                    }
                }
            }
        }
    }
}
