@import "../assets/_vars.scss";

.checkout-container {
    .section-title {
        font-size: 18px;
        text-align: left;
    }

    .payment-summary-and-methods-container {
        @media only screen and (min-width: $screen-min-size-tablet) {
            .section-title {
                padding: 30px 0;
            }

            .checkout-summary-and-upgrade-container {
                float: right;
            }

            .checkout-summary-separator {
                display: none;
            }
        }

        &:after {
            clear: both;
            content: '';
            display: block;
        }
    }

    .money-back-and-support-info-container {
        &:after {
            clear: both;
            content: '';
            display: block;
        }

        @media only screen and (min-width: $screen-min-size-tablet) {
            padding-bottom: 40px;
        }
    }

    hr {
        border-top: 1px solid $color-grey;
        @media only screen and (min-width: $screen-min-size-tablet) {
            margin: 30px 0;
        }
    }
}
