@import "../assets/_vars.scss";

.confirmation-container {

    .payment-summary-and-info-container {
        @media only screen and (min-width: $screen-min-size-tablet) {
            .section-title {
                padding: 30px 0;
            }
        }

        &:after {
            clear: both;
            content: '';
            display: block;
        }
    }

}
