@import "../assets/_vars.scss";

.plans-list-container {
    .section-title {
        padding: 8px 15px;
        @media only screen and (min-width: $screen-min-size-tablet) {
            padding-top: 20px;
        }
        @media only screen and (min-width: $screen-min-size-desktop) {
            font-size: 28px;
            line-height: 28px;
            padding-top: 50px;
        }
    }

    .panel-show-false {
        display: none;
    }

    .promo-expiration-date {
        clear: both;
        color: $color-dark-grey;
        font-style: italic;
        font-size: 12px;
        font-weight: $font-weight-normal;
        padding-top: 10px;
        text-align: center;
        @media only screen and (min-width: $screen-min-size-desktop) {
            padding-top: 0;
        }
    }

    .label-welcome-offer {
        color: $color-red;
        font-family: $font-family-slab;
        font-size: 18px;
        font-weight: normal;
        padding-bottom: 20px;
        text-align: center;
    }
}
