@import "../../../assets/_vars.scss";

.aba-plans-features {
    background-color: $color-white;

    .section-title {
        padding-bottom: 10px;
        padding-top: 36px;
        @media only screen and (min-width: $screen-min-size-tablet) {
            padding-bottom: 25px;
        }
        @media only screen and (min-width: $screen-min-size-desktop) {
            padding-top: 45px;
            padding-bottom: 40px;
        }
    }

    .features-list {
        &:after {
            clear: both;
            content: '';
            display: block;
        }

        .feature-container {
            padding: 15px 33px 15px 33px;

            &:after {
                clear: both;
                content: '';
                display: block;
            }

            .feature-container-inner {
                position: relative;
                @media only screen and (min-width: $screen-min-size-tablet) {
                    min-height: 85px;
                }
                @media only screen and (min-width: $screen-min-size-desktop) {
                    min-height: 72px;
                }

                &:after {
                    clear: both;
                    content: '';
                    display: block;
                }

                .feature-title {
                    color: $color-blue;
                    font-size: 14px;
                    font-weight: $font-weight-bold;
                    line-height: 15px;
                    margin-bottom: 8px;
                    padding-left: 55px;
                    @media only screen and (min-width: $screen-min-size-tablet) {
                        font-size: 16px;
                        margin-bottom: 12px;
                    }
                }

                .feature-content {
                    color: $color-dark-blue;
                    float: left;
                    font-size: 12px;
                    font-weight: $font-weight-medium;
                    line-height: 15px;

                    .feature-icon {
                        float: left;
                        font-size: 36px;
                        position: absolute;
                        top: 0;
                    }

                    .feature-text {
                        padding-left: 55px;
                        @media only screen and (min-width: $screen-min-size-desktop) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
