/* ********************************************************************************** */
/* ** ABA STYLES ********************************************************************* */
/* ********************************************************************************** */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

label {
  color: #92908a;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  padding-left: 0;
}

.select-input { width: 95px; }

.popup {
  background-color: #ffffff;
}

.whitespace {
  display: none;
}

.popup .form .content {
  margin-top: 8px;
  padding: 0;
}

.required-desc {
  display: none;
}

.form-element, .form-element.required {
  border: 0;
  padding: 0;
  padding-bottom: 15px;
  width: 100%;
  min-width: 0;
}

.form-element input, select {
  border: 0;
  border-bottom: 1px solid #e1dfdc;
  border-radius: 0;
  box-shadow: none;
  color: #42505a;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.form-element input {
  font-size: 15px;
  height: 26px;
  line-height: 20px;
  width: 100%;
}

.form-element input:focus, select:focus {
  border-bottom: 2px solid #07bbe4;
  outline: none;
}

.form-element input[aria-invalid="true"] {
  border-bottom: 2px solid #d0021b;
}

.form-element input.text-input-cvv {
  width: 100px;
}

.date-separator {
  color: #92908a;
}

.error {
  color: #d0021b;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.error-field {
  color: #d0021b;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-left: 0;
  margin-top: -12px;
  position: absolute;
}

.btn-submit {
  background-color: #07bbe4;
  background-image: none;
  border-radius: 10px;
  float: none;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  min-width: 200px;
  padding: 16px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 320px) {
  .btn-submit {
    min-width: 0;
    padding: 16px 5px;
    width: 90%;
  }
}

.btn-submit:hover {
  background-color: #0592b3;
}

.bottom {
  margin-top: 40px;
  text-align: center;
}
