@import "../../../assets/_vars.scss";

#sticky-wrapper {
    bottom: 0px;
    position: absolute;
    width: 100%;
}

.download-app-container {

    // --------- start: STICKY MODE ---------------------------------------------------------------------- //
    &.sticky-true {
        //bottom: 0;
        //position: fixed;
        width: 100%;

        $total-height: 110px;
        $info-height: 60px;
        $info-height-tablet: 95px;
        $total-height-tablet: 150px;
        .download-app-container-inner {
            height: $total-height;
            position: relative;
            width: 100%;
            @media only screen and (min-width: $screen-min-size-tablet) {
                height: $total-height-tablet;
            }

            .download-app-info-container {
                background-color: $color-blue;
                bottom: 0;
                min-height: $info-height;
                position: absolute;
                width: 100%;
                @media only screen and (min-width: $screen-min-size-tablet) {
                    min-height: $info-height-tablet;
                }

                .download-app-info-container-inner {
                    margin: auto;
                    max-width: $screen-min-size-mobile;
                    @media only screen and (min-width: $screen-min-size-tablet) {
                        max-width: $screen-min-size-tablet;
                    }

                    .download-app-info {
                        min-height: $info-height;
                        overflow: hidden;
                        padding: 8px 0 8px 10px;
                        @media only screen and (min-width: $screen-min-size-tablet) {
                            min-height: $info-height-tablet;
                            padding: 14px 30px 14px 10px;
                        }

                        .download-app-title {
                            color: $color-white;
                            display: none;
                            font-family: $font-family-slab;
                            font-size: 18px;
                            font-weight: $font-weight-normal;
                            line-height: 18px;
                            @media only screen and (min-width: $screen-min-size-tablet) {
                                display: block;
                            }
                        }

                        .download-app-subtitle {
                            color: $color-white;
                            font-family: $font-family-slab;
                            font-size: 13px;
                            font-weight: $font-weight-normal;
                            line-height: 13px;
                            @media only screen and (min-width: $screen-min-size-tablet) {
                                display: none;
                            }
                        }
                    }
                }
            }

            .download-app-info-image {
                height: $total-height;
                overflow: hidden;
                padding: 0 10px 0 0;
                @media only screen and (min-width: $screen-min-size-tablet) {
                    height: $total-height-tablet;
                }

                .sp-image {
                    float: right;
                    transform: scale(0.6);
                    transform-origin: top right;
                    @media only screen and (min-width: $screen-min-size-tablet) {
                        float: left;
                        transform: scale(0.9);
                    }
                }
            }
        }
    }

    // --------- end: STICKY MODE ---------------------------------------------------------------------- //

    &.sticky-false {
        &.align-center-true {
            margin: auto;
            padding-bottom: 30px;
            width: 380px;
        }

        .download-app-container-inner {
            margin-top: 40px;
            position: relative;

            .download-app-info-container {

                .download-app-info-container-inner {
                    border: 1px solid $color-dark-blue;
                    height: 340px;
                    padding: 20px;
                    position: relative;
                    width: 100%;

                    .download-app-info {
                        height: 100%;
                        padding: 0;

                        .download-app-title {
                            color: $color-blue;
                            font-family: $font-family-slab;
                            font-size: 22px;
                            line-height: 30px;
                            position: relative;
                            z-index: 1;
                        }

                        .download-app-buttons-container {
                            bottom: 0;
                            position: absolute;
                            width: 135px;

                            .download-app-subtitle {
                                font-family: $font-family-slab;
                                font-size: 14px;
                                font-weight: $font-weight-medium;
                                line-height: 14px;
                                margin-bottom: 8px;
                            }
                        }
                    }

                    &:after {
                        clear: both;
                        content: '';
                        display: block;
                    }
                }
            }

            .download-app-info-image {
                background-color: white;
                bottom: -30px;
                padding: 15px;
                position: absolute;
                right: -60px;
                width: 280px;
                z-index: 0;
            }

        }
    }

    .download-app-button {
        background-color: $color-black;
        border-radius: 3px;
        color: $color-white;
        float: left;
        height: 20px;
        margin-top: 10px;
        padding: 3px;
        @media only screen and (min-width: $screen-min-size-tablet) {
            height: 30px;
            margin-top: 16px;
            padding: 6px;
        }
        @media only screen and (min-width: $screen-min-size-desktop) {
            height: 40px;
            margin-top: 10px;
            max-width: 135px;
        }

        & ~ .download-app-button {
            margin-left: 8px;
            @media only screen and (min-width: $screen-min-size-tablet) {
                margin-left: 10px;
            }
            @media only screen and (min-width: $screen-min-size-desktop) {
                margin-left: 0;
            }
        }

        .sp-logo {
            float: left;
            margin: -1.5px -14px 0 -1px;
            transform: scale(0.5);
            transform-origin: top left;
            @media only screen and (min-width: $screen-min-size-tablet) {
                margin-right: -8px;
                transform: scale(0.6);
            }
            @media only screen and (min-width: $screen-min-size-desktop) {
                margin: -2px 4px 0 0;
                transform: scale(1);
            }
        }

        .app-button-text {
            float: left;

            .app-button-store-text {
                font-size: 5px;
                font-weight: $font-weight-normal;
                line-height: 5px;
                @media only screen and (min-width: $screen-min-size-tablet) {
                    font-size: 7px;
                    line-height: 7px;
                }
                @media only screen and (min-width: $screen-min-size-desktop) {
                    font-size: 10px;
                    line-height: 10px;
                }
            }

            .app-button-store-name {
                font-size: 9px;
                font-weight: $font-weight-medium;
                @media only screen and (min-width: $screen-min-size-tablet) {
                    font-size: 11px;
                }
                @media only screen and (min-width: $screen-min-size-desktop) {
                    font-size: 16px;
                }
            }
        }
    }
}
