@import "../../../assets/_vars.scss";

.nucleo-feature-icon {
    font-size: 37px !important;

    @media only screen and (max-width: $screen-max-size-mobile) {
        font-size: 32px !important;
    }
    color: #07bbe4;

    @media only screen and (max-width: $screen-max-size-mobile) {
         float: left;
    }
}

.features-list-variantB {
    text-align: center;
}

.aba-plans-features {

    .features-list-variantB {

        display: none;
        text-align: center;

        @media only screen and (max-width: $screen-max-size-mobile) {
            text-align: left;
            margin-bottom: 30px;

        }

        .feature-container {

            @media only screen and (max-width: $screen-max-size-mobile) {
                padding-bottom: 20px;
            }

            @media only screen and (min-width: $screen-min-size-tablet) {
                min-height: 220px;
            }

            padding: 0 33px 0 33px;

            .feature-container-inner {
                .feature-title {
                    padding-left: 0px;
                    color: #42505a;
                    margin-top: 13px;
                    font-size: 18px;

                    @media only screen and (max-width: $screen-max-size-mobile) {
                        font-size: 16px;
                        padding-top: 7px;
                    }
                    font-weight: 400 !important;
                    line-height: 1.2;
                    margin-bottom: 8px;

                    @media only screen and (max-width: $screen-max-size-mobile) {
                       padding-left: 55px!important;
                    }

                    .title-header {
                        font-weight: 700;
                        font-size: 24px;
                        @media only screen and (max-width: $screen-max-size-mobile) {
                            font-size: 18px;
                        }

                        height: 20px;
                        margin-bottom: 6px;
                        @media only screen and (min-width: $screen-min-size-tablet) {
                            display: block;
                        }
                    }
                }

                .feature-content {
                    color: #92908a;
                    .feature-text {
                        padding-left: 0px;
                        font-size: 15px;
                        line-height: 1.3;
                    }

                    @media only screen and (max-width: $screen-max-size-mobile) {
                        display: none;
                    }
                }
            }
        }
    }
}
