.upgrade-banner-container{
    width: 240px;
    height: 140px;
    margin-top: 46px;
    border: solid 1px $color-dark-blue;

    @media only screen and (max-width: $screen-max-size-mobile) {
        display: none;
    }

    .banner-header{
        text-transform: uppercase;
        line-height: 24px;
        background-color: $color-dark-blue;
        color: white;
        text-align: center;
    }

    .banner-info-container:before{
        content: '';
        position: absolute;
        width: 240px;
        height: 0;
        border-left: 120px solid transparent;
        border-right: 120px solid transparent;
        border-top: 10px solid $color-dark-blue;
    }

    .banner-info{
        text-align: center;
        padding-top: 20px;
    }
}
