@import "../../assets/vars";

.aba-plans-footer {
    background-color: $color-dark-blue;
    @media only screen and (min-width: $screen-min-size-desktop) {
        padding-left: 30px;
    }

    .footer-container {
        display: table;
        margin: auto;
        max-width: $screen-min-size-desktop;
        padding: 10px 0;
        width: 100%;

        .footer-icon {
            color: $color-blue;
            display: table-cell;
            font-size: 20px;
            vertical-align: middle;
            @media only screen and (min-width: $screen-min-size-desktop) {
                font-size: 28px;
            }
        }

        .footer-text {
            color: $color-white;
            display: table-cell;
            font-size: 11px;
            font-weight: $font-weight-normal;
            line-height: 14px;
            padding-left: 15px;
            vertical-align: middle;
            @media only screen and (min-width: $screen-min-size-tablet) {
                font-size: 12px;
            }
        }
    }
}
