@import "../../assets/vars";

.aba-plans-header {
    padding-top: 15px;
    text-align: center;
    @media only screen and (min-width: $screen-min-size-desktop) {
        padding-bottom: 10px;
        padding-left: 35px;
        text-align: left;
    }

    .header-logo {
        height: 75px;
        text-align: center;
        @media only screen and (min-width: $screen-min-size-tablet) {
            height: 105px;
        }
        @media only screen and (min-width: $screen-min-size-desktop) {
            display: table-cell;
            height: 150px;
        }

        .sp-logo {
            cursor: pointer;
            display: inline-block;
            transform: scale(0.5);
            transform-origin: center top;
            @media only screen and (min-width: $screen-min-size-tablet) {
                transform: scale(0.7);
            }
            @media only screen and (min-width: $screen-min-size-desktop) {
                transform: none;
            }
        }
    }

    .header-title {
        display: none;
        @media only screen and (min-width: $screen-min-size-desktop) {
            color: $color-dark-blue;
            display: table-cell;
            font-family: $font-family-slab;
            font-size: 20px;
            padding: 72px 0 0 22px;
            vertical-align: top;
            width: 100%;
        }

        .header-subtitle {
            @media only screen and (min-width: $screen-min-size-desktop) {
                color: $color-dark-grey;
                font-style: italic;
                margin-left: 10px;
            }
        }
    }

    &:after {
        clear: both;
        content: '';
        display: block;
    }
}
