@import "../../../assets/_vars.scss";

#zuora_payment {
    overflow: hidden;

    iframe {
        background-color: $color-white;
        top: -10000px;
        padding: 0 60px;
        position: absolute;
        width: 100%;
    }

    &.iframe-container-rendered {
        iframe {
            top: 0;
            position: relative;
        }
    }
}
