@import "../../../assets/_vars.scss";

.aba-checkout-methodsList {

    .section-title {
        padding-top: 0;
    }

    .panel {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
        border: solid 1px #e1dfdc;
        border-radius: 0 !important;
        li:last-child {
            border-bottom: none;
        }
    }

    .panel-body {
        position: relative;
        padding: 0px;
    }

    .payment-method-container {
        .panel-show-false {
            border: none;
            display: none;
        }

        .panel-terms-and-conditions {
            border-top: none;
            padding-bottom: 24px;
            padding-left: 18px;
            padding-right: 18px;
            text-align: center;
        }

        .panel-method {
            border-bottom: none;
            border-top: none;
            min-height: 220px;


        }

        .payment-method-header-container {
            padding: 0;
            background-color: $color-light-grey;
            border: solid 1px $color-grey;

            .payment-method-header {
                cursor: pointer;
                display: table;
                min-height: 60px;
                width: 100%;

                .payment-method-toggler-container {
                    display: table-cell;
                    text-align: center;
                    vertical-align: middle;
                    width: 60px;

                    .payment-method-toggler {
                        background-color: $color-white;
                        border: solid 1px $color-dark-grey;
                        border-radius: 50%;
                        height: 20px;
                        margin: auto;
                        width: 20px;

                        &.icon-check {
                            background-color: $color-blue;
                            border: solid 1px $color-blue;
                            color: $color-white;
                            line-height: 19px;
                            text-align: center;
                        }
                    }
                }

                .payment-method-info {
                    display: table-cell;
                    padding: 20px 15px 20px 0;
                    vertical-align: middle;

                    .payment-method-title {
                        color: $color-dark-blue;
                        font-size: 18px;
                        font-weight: $font-weight-bold;
                        line-height: 20px;
                    }

                    .payment-method-description {
                        color: $color-dark-blue;
                        font-size: 14px;
                        font-weight: $font-weight-normal;
                        line-height: 18px;
                    }
                }
            }

            &.selected-true {
                background-color: $color-white;
                border-bottom: none;

                .payment-method-header {
                    cursor: default;
                }
            }

            &.blocked-true:not(.selected-true) {
                .payment-method-header {
                    cursor: default;

                    .payment-method-toggler-container {
                        .payment-method-toggler {
                            border-color: $color-dark-grey;
                        }
                    }

                    .payment-method-info {
                        .payment-method-title, .payment-method-description {
                            color: $color-dark-grey;
                        }
                    }
                }
            }
        }
    }
}

