@import "../../../assets/_vars.scss";

.aba-paypal-container {
    display: table;
    height: 100%;
    padding: 20px;
    width: 100%;

    .paypal-container-inner {
        display: table-cell;
        text-align: center;
        vertical-align: middle;

        .success-icon {
            display: inline-block;
            color: $color-blue;
            font-size: 50px;
        }

        .success-text {
            color: $color-dark-blue;
            font-size: 16px;
            max-width: 309px;
            text-align: center;
            line-height: 18px;
            margin: 6px auto 10px auto;
        }

        .paypal-button {
            background-color: $color-light-grey;
            border: 1px $color-grey solid;
            border-radius: 10px;
            cursor: pointer;
            display: inline-block;
            padding: 5px 20px;

            &:hover {
                background-color: darken($color-light-grey, 5%);
            }
        }

        .paypal-redirect-container {
            margin-bottom: 20px;
            text-align: center;

            .paypal-redirect-text {
                color: $color-dark-blue;
                font-size: 14px;
                font-style: italic;
            }

            .aba-loading {
                display: inline-block;
                min-height: 0;
                width: auto;

                .loading-container {
                    .loading-spinner {
                        height: 20px;
                        margin-top: -25px;
                        width: 32px;
                    }
                }
            }
        }
    }
}
